# Type casting

## Int to float

In [1]:
age_int = 29 # this is an integer

# convert the integer to a float
age_float = float(age_int)

In [2]:
print(type(age_float))

<class 'float'>

In [3]:
print(type(age_int))

<class 'int'>

## Float to int

In [4]:
price = 9.99
price_int = int(price)

## Float or int to string

In [5]:
number_int = 10
number_float = 10.5

In [6]:
number = str(number_int)
number_float = str(number_float)

## str to int or float

In [7]:
value = "225"
value_int = int(value)
value_float = float(value)

## list to tupie  tuple to list

In [8]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [9]:
my_list_to_tuple = tuple(my_list)
my_tuple_to_list = list(my_tuple)

print(type(my_list_to_tuple))
print(type(my_tuple_to_list))

<class 'tuple'>
<class 'list'>

## list to set and set to list

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list = set(my_list)
print(type(my_list))

<class 'set'>

## to boolean

In [11]:
number = 10
number = bool(number)
print(type(number))
print(number)

<class 'bool'>
True

In [12]:
khali_list = []
khali_list = bool(khali_list)
print(type(khali_list))
print(khali_list)

<class 'bool'>
False

In [13]:
age = 29
print("I am " + str(age) + " years old.")

I am 29 years old.